body{
    background-color :peru;
    color:beige;
    margin: 0px;
}

header{
    border-bottom: solid 2px black;
    padding: 20px;
    font-size: 32px;
    color:beige;
}

section{
    background-color:sienna;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
}